<div class="card  shadow p-3 mb-5 bg-white rounded" >
  <div class="text-uppercase text-bold  text-center bg-white">
  <h4 style="color: #00758F">Edit Profile</h4>
  </div>
  <div class="card-body">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
   
   <div class="field  form-group">
      <%f.label :username %><br />
      <%= f.text_field :username, 
      class:"form-control border-0 border-bottom border-info",placeholder:"Username",
      autofocus: true, autocomplete: "username" %>
    </div>

    <div class="field form-group">
      <%f.label :email %><br />
      <%= f.email_field :email, 
       class:"form-control border-0 border-bottom border-info",placeholder:"Email",
      autofocus: true, autocomplete: "email" %>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="field form-group">
      <%f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password,
       class:"form-control border-0 border-bottom border-info",placeholder:"password",
      autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  
    <div class="field form-group">
      <%f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation,
       class:"form-control border-0 border-bottom border-info",placeholder:"new-password",
      autocomplete: "new-password" %>
    </div>
  
    <div class="field form-group">
      <%f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password,
      class:"form-control border-0 border-bottom border-info",placeholder:"current-password",
      autocomplete: "current-password" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Update", class:'btn btn-outline-info' %>
    </div>
  <% end %>

     </div>
</div>






<br/><br/>




