<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @issue.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @issue.answer %>
</p>

<p>
  <b>Status:</b>
  <%= @issue.status %>
</p>



<%= link_to 'Back', project_master_task_issues_url%>
