
<%= form_for([@task.project_master, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if current_user.id == @task.project_master.user_id or current_user.has_role?:admin %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name ,class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description ,class:"form-control"%>
  </div>
  <div class="row">
      <div class="col">
        <%= f.label :Due_date %>
        <%= f.date_field :due_date,:required => true,class: "form-control border-warning" %>
      </div>
      <div class="col">
        <%= f.label :Completed_date %>
        <%= f.date_field :completed_date,class: "form-control border-warning" %>
     </div>
  </div>
<% else %>
<b><%= f.label :Project_name%></b>
<%= @task.project_master.name %><br />
<b><%= f.label :Project_description%></b>
<%= @task.project_master.description %><br />
<b><%= f.label :Task_name %></b>
<%= @task.name %><br />
<b><%= f.label :Task_description %></b>
<%= @task.description %><br />
<b><%= f.label :Due_date %></b>
<%= @task.due_date %><br />
<b><%= f.label :completed_date %></b>
<% if @task.status == "complete"%>
<%= @task.updated_at.to_date%><br />
<% end %>
<b><%= f.label :status %></b>
<%= @task.status %><br />

<% end %>
<% if current_user.id == @task.project_master.user_id or current_user.has_role?:admin %>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status,Task::STATUS_OPTIONS,{},class:"form-control" %>
  </div>  

  <div class="field">

    <%= f.label :Assigned_to%><br/>
    <% ids = [Member.where(project_master_id: @task.project_master.id).select(:user_id).pluck(:user_id),@task.project_master.user_id].flatten %>
    <%= f.select :user_id, User.where(id: ids).map{ |t| [t.email, t.id]}, {}, class: "form-control" %>
  </div>
<% end %>

  <%# <div class="field">
    <%= f.label :project_master %><br />
    <%# <%= f.text_field :project_master %> 
  <%# </div>  %>
  <div>
      <%= f.submit "save",class: "btn btn-sm btn-outline-primary"%>

  </div>
<% end %>
