
<hr>
<h3 class="text-dark">Employees</h3>
<style>

</style>
<div class="row">
 <div class="col-lg-3">
        <div class="card" style="border-radius: 15px;background-color:#F3F2F2">
          <div class="card-body text-center">
            <div class="mt-1 mb-2">
              <img
                src="https://cdn.pixabay.com/photo/2014/04/03/11/47/person-312160_960_720.png"
                class="rounded-circle img-fluid" style="width: 50px;"
              />
            </div>
            <h4 class="mb-2">All Employee</h4>
            <div class="d-flex justify-content-between text-center mt-5 mb-2">
              <div>
                <p class="mb-2 h6"><%=@users.count - 1%></p>
                <p class="text-muted small mb-0">Total Employees </p>
              </div>
              <div class="px-3">
                <p class="mb-2 h6"><%= @manager.count%> </p>
                <p class="text-muted small mb-0">Project manager</p>
              </div>
              <div>
                <p class="mb-2 h6"><%=@team.count - @manager.count%></p>
                <p class="text-muted small mb-0">Team member</p>
              </div>
            </div>
          </div>
        </div>
      </div>
   
      <div class="col-lg-9 d-flex flex-row flex-nowrap overflow-auto">
       <% @users.each do |user| %>

     <% if user!=current_user %> 
    <div class="col">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body  text-center">
            <div class="mt-1 mb-2">
              <img
                src="https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425_960_720.png"
                class="rounded-circle img-fluid" style="width: 50px;"
              />
            </div>
            <h4 class="mb-2"><%= user.username %></h4>
             <a class="text-decoration-none small" href="mailto:<%= user.email %>"><%= user.email %></a>
            <p class="text-muted mb-3"><% if user.has_role? :manager %>
            <small class="badge bg-warning text-dark">manager</small>
            <% end%>
            <span class="mx-2">
            </span></p>
            <div class="d-flex justify-content-between text-center mt-2 mb-4">
              <div>
                <p class="mb-2 h6"><%=@project.where(user_id: user.id).count%></p>
                <p class="text-muted small mb-0">Total Project </p>
              </div>
              <div class="px-3">
                <p class="mb-2 h6"><%=@project.where(phase: ['Started','On Going'] ,user_id: user.id).count%></p>
                <p class="text-muted small mb-0">Project on-going</p>
              </div>
              <div>
                <p class="mb-2 h6"><%=@project.where(phase: 'Completed' ,user_id: user.id).count%></p>
                <p class="text-muted small mb-0">Project completed</p>
              </div>
            </div>
            <% if user.deleted_at.nil? %>

            <%=button_to "Delete",{ controller: :users, action: :destroy, id: user.id },method: :delete, data: { confirm: 'Are you sure?' },class: "float-left btn btn-sm btn-outline-danger"  %> <%= link_to "Edit", edit_user_path(user) ,class: "float-right btn btn-sm btn-outline-info"  %>
            <%else%>
            <%=button_to "Restore",{ controller: :users, action: :update, id: user.id },method: :patch, data: { confirm: 'Are you sure?' },class: "float-left btn btn-sm btn-danger"  %> <%= link_to "Edit", edit_user_path(user) ,class: "disabled float-right btn btn-sm btn-secondary"  %>

             <%end%>
          </div>
        </div>
      </div>
    <%end%> 
<%end%>
</div>
</div>

<hr>
<h3 class="text-dark" >Clients</h3>

<div class="row">
 <div class="col-lg-3">
        <div class="card" style="border-radius: 10px; background-color:#F3F2F2">
          <div class="card-body text-center">
            <div class="mt-1 mb-2">
              <img
                src="https://cdn.pixabay.com/photo/2014/03/24/17/19/teacher-295387_960_720.png"
                class="rounded-circle img-fluid" style="width: 50px;"
              />
            </div>
            <h4 class="mb-2">All Clients</h4>
            <div class="d-flex justify-content-between text-center mt-5 mb-2">
              <div>
                <p class="mb-2 h6"><%=@clients.count%></p>
                <p class="text-muted small mb-0">Total Clients </p>
              </div>
              <div class="px-3">
                <p class="mb-2 h6"><%=@project.count%></p>
                <p class="text-muted small mb-0">Total Projects </p>
              </div>
              <div>
                <p class="mb-2 h6"><%=@project.where(phase: ['Started','On Going']).count%></p>
                <p class="text-muted small mb-0">On-going Projects</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9 d-flex flex-row flex-nowrap overflow-auto">
      <% @clients.each do |client| %>

      <div class="col">
        <div class="card" style="border-radius: 15px; ">
          <div class="card-body text-center">
            <div class="mt-1 mb-2">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659651_960_720.png"
                class="rounded-circle img-fluid" style="width: 50px;"
              />
            </div>
            <h4 class="mb-2"><%= client.name %></h4>
           <a class="text-decoration-none small" href="mailto:<%= client.email %>"><%= client.email %></a></p>
            <div class="d-flex justify-content-between text-center mt-2 mb-2">
              <div>
                <p class="mb-2 h6"><%=@project.where(client_id: client.id).count%></p>
                <p class="text-muted small mb-0">Total Project </p>
              </div>
              <div class="px-3">
                <p class="mb-2 h6"><%=@project.where(phase: ['Started','On Going'] ,client_id: client.id).count%></p>
                <p class="text-muted small mb-0">Project on-going</p>
              </div>
              <div>
                <p class="mb-2 h6"><%=@project.where(phase: ['Completed'] ,client_id: client.id).count%></p>
                <p class="text-muted small mb-0">Project completed</p>
              </div>
            </div>
            <% if client.deleted_at.nil? %>

           <%=button_to "Delete",{ controller: :clients, action: :destroy, id: client.id },method: :delete, data: { confirm: 'Are you sure?' },class: "float-left btn btn-sm btn-outline-danger"  %> <%= link_to "Edit", edit_client_path(client) ,class: "float-right btn btn-sm btn-outline-info"  %>
            <%else%>
            <%=button_to "Restore",{ controller: :clients, action: :update, id: client.id },method: :patch, data: { confirm: 'Are you sure?' },class: "float-left btn btn-sm btn-danger"  %> <%= link_to "Edit", edit_user_path(client) ,class: "disabled float-right btn btn-sm btn-secondary"  %>

             <%end%>
          </div>
        </div>
      </div>
<%end%>
</div>
