<h3>Listing Users</h3>

<table class="table">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Role</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
<% @users.each do |user| %>
    <% if user!=current_user %>
    <tr>
       <td> <%= user.username %> </td>
       <td> <%= user.email %> </td>
       <td> <%= user.roles.pluck(:name) %></td>
       <td> <%= link_to "Edit", edit_user_path(user) ,class: "btn btn-sm btn-outline-warning"  %></td>
       <td> <%= link_to "Delete", edit_user_path(user) ,class: "btn btn-sm btn-outline-danger"  %></td>
        <%# <%= link_to 'Edit roles', edit_user_path(user) %> 
    </tr>
    <%end%>
<%end%>
