<% if user_signed_in? %>
  <h5>Welcome to Project Management Tool   </h5>
  <span class="h4 text-success"><%= current_user.username %> </span>
<% end %>

<% if !current_user.has_role? :admin %>

<h1>Task </h1>

    <% if @task.count > 0 %>

  <div class="row">
      <%notstarted = @task.where(status: 'not-started').count  %> 
      <%inprogress = @task.where(status: 'in-Progress').count  %> 
      <%complete = @task.where(status: 'complete').count  %> 
      <div class="col-lg-4">
        <div class="card shadow p-3 mb-5 bg-white rounded ">
          <div class="card-body">

            <h5 class="card-title text-bold text-center text-uppercase mb-3" > All Tasks </h5>

            <h6 class="card-subtitle text-bold text-center mb-4"> Total Tasks : <%=@task.count %><% total = @task.count %></h6>  
            <div class="progress mb-1">
              <p class="card-text mr-1"> <small class="badge bg-danger text-white">Not Started</small> </p>
              <% width = (notstarted.to_f/total)*100%>
              <span class="progress-bar bg-danger" role="progressbar" style="width: <%=width%>%" aria-valuenow="<%=width%>" aria-valuemin="0" aria-valuemax="100"> <%=notstarted%></span>
            </div>
          
            <div class="progress mb-1">
              <p class="card-text mr-1"><small class="badge bg-info text-white">In Progress</small></p>
              <% width = (inprogress.to_f/total)*100%>
              <span class="progress-bar bg-info" role="progressbar" style="width: <%=width%>%" aria-valuenow="<%=width%>" aria-valuemin="0" aria-valuemax="100"><%=inprogress%></span>
            </div>

            <div class="progress mb-1">
            <p class="card-text mr-1"><small class="badge bg-success text-white">Completed</small></p>
              <% width = (complete.to_f/total)*100%>
              <span class="progress-bar bg-success" role="progressbar" style="width: <%=width%>%" aria-valuenow="<%=width%>" aria-valuemin="0" aria-valuemax="100"><%=complete%></span>
            </div>
          

          </div>
        </div>
        </div>
  <% @task.each do |task| %>
     
    <div class="col-md-4 " >
    <div class="card shadow p-3 mb-5 bg-white rounded ">
    <div class="card-body">
    <% textcolor = ['text-info','text-success','text-danger','text-secondary','text-warning','text-primary']%>
     <% 
      bgcolor = 'bg-info'
      case task.status
      when 'not-started'
        bgcolor = 'bg-secondary'
      when 'in-Progress'
        bgcolor = 'bg-info'
      
      when 'complete'
        bgcolor = 'bg-success'
      
      end

      %>

      <h5 class="card-title text-bold text-uppercase <%=textcolor.sample%>" ><%=task.project_master.name %></h5>
      <p class="card-text">Manager:<%= User.find(task.project_master.user_id).username %></p> 
          <p class="card-text">Task: <%= task.name %></p> 
          
          <p class="card-text"><%= task.description %></p>
      
          <p class="card-text"><small class="badge <%=bgcolor%> text-white"> <%= task.status %> </small></p>
    
          <% if Time.current > task.due_date%>

          <p class="card-text">Due Date: <%= task.due_date.to_date%> <span class="text-danger">  <small class="badge bg-secondary text-white"> deadline missed</small></p>

          <% else%>
          <p class="card-text">Due Date: <%= task.due_date.to_date%> <span class="text-danger">( <%=( (task.due_date - Time.current)/ 1.day).round%> days left )</span></small></p>

          <% end%>
         <p>

          <%= link_to "View task", edit_project_master_task_path(task.project_master, task),class: "btn btn-sm btn-outline-dark" %>
          
          <%= link_to "Issue", project_master_task_issues_path(task.project_master, task),class: "float-right btn btn-sm btn-danger" %>

          </p>
         </div>
      
    
    </div>

    </div>
      
   <%end%>
   </div>
   <%else%> 
      <h2> No task assigned </h2>
  <%end%>
  <%else%>
  <%# admin dashboard %>
   <%= render 'home/dashboard' %>
  <%end%>