<%= form_with(model: project_master) do |form| %>
  <% if project_master.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project_master.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project_master.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name,class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description ,class: "form-control"%>
  </div>

  <div>
    <%# <%= form.select :user_id, options_for_select("1","2"),style: "display: block"  %> 
    <% if current_user.has_role? :admin %>
    <%= form.label :Project_manager, style: "display: block" %>
    <%= form.select :user_id, @users.select{|a| a.has_role? :manager}.map { |t| [t.email, t.id]}, {}, class: "form-control" %>
  </div> 
  <div>
    <%= form.label :ptype, "Project Type", style: "display: block" %>
        <%= form.select :ptype,  [["Paid",true],["Free",false]], {}, class: "form-control" %>

    <%# <%= form.select :ptype, [["Paid",true],["Free",false]] , class: "form-control" %> 
    <% end %>

  </div> 

  <div>
    <%= form.submit "save",class: "btn btn-sm btn-outline-primary"%>
  </div>
<% end %>
