<div class="row" style="height: 25%">
<div id="<%= dom_id @project_master %>">
<% textcolor = ['text-info','text-success','text-danger','text-secondary','text-warning','text-primary']%>
 <% 
      bgcolor = 'bg-info'
      case @project_master.phase
      when 'Not Started'
        bgcolor = 'bg-danger'
        when 'Started'
        bgcolor = 'bg-success'
      when 'On Going'
        bgcolor = 'bg-info'
      when 'On Hold'
        bgcolor = 'bg-warning'
      when 'Completed'
        bgcolor = 'bg-dark'
      when 'Maintenance'
        bgcolor = 'bg-primary'
      end

      %>
  <div class="card shadow p-3 mb-5 bg-white rounded ">
    <div class="card-body">
      <h5 class="card-title text-bold text-uppercase <%=textcolor.sample%>">
      
        <%= button_to "Delete project ", @project_master, method: :delete ,class: " btn btn-outline-danger btn-sm float-right" %>
      <%= @project_master.name %> </h5> 

        <div class="row">
        <div class="col">
         <p class="card-text"><small class="text-muted">Created at :<%= @project_master.created_at %></small></p>   

          <h6 class="card-text"> <b> Project Manager:</b> <%= User.with_deleted.find(@project_master.user_id).username%></h6>
          <p class="card-text"><b>Project Description: </b><%= @project_master.description %></p>
          <p class="card-text"><b>Project Type:</b> <%= @project_master.ptype %></p>
          <p class="card-text"><b>Start date: </b><% if !@project_master.start_date  == nil %> <%=@project_master.start_date.to_date %><%end%></p>     
          <p class="card-text"><b>End date: </b><% if !@project_master.end_date  == nil %> <%=@project_master.start_date.to_date %><%end%></p>     
          <p class="card-text"><b>Technology:</b> <%= @project_master.technology %></p>
          <p class="card-text"> <b> Status:</b><small class="badge <%=bgcolor%> text-white"> <%= @project_master.phase %> </small> </p>

        </div>
        <div class="col">
          <p class="card-text"><b>Client Name:</b> <%= Client.find(@project_master.client_id).name %></p>
          <p class="card-text"><b>Client Requirements:</b> <%= @project_master.client_requirements %></p>
          <p class="card-text"><b>Budget:</b> <%= @project_master.budget %></p>
          <p class="card-text"><b>Expected Duration:</b> <%  if !@project_master.expected_duration == nil %> <%=@project_master.expected_duration.to_date %> (<%= ((@project_master.expected_duration.to_time  - @project_master.created_at.to_time )/1.month.second).to_i%> months) <%end%></p>

        </div>
      </div>
     </div>
  </div>
</div>
</div>
