<div id="<%= dom_id project_master %>">
  <p>
    <strong>Name:</strong>
    <%= project_master.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project_master.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project_master.user_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= project_master.created_at %>
  </p>

</div>
