<div id="<%= dom_id project_master %>">
  <p>
    <strong>Name:</strong>
    <%= project_master.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project_master.description %>
  </p>

  <p>
    <strong>Project Manager:</strong>
    <%# <%= project_master.user_id %> 
    <%= User.find(project_master.user_id).email%>
  </p>

  <p>
    <strong>Project Type:</strong>
    <%# <%= project_master.user_id %> 
    <% if project_master.ptype %>
      Paid
    <% else %>
      Free
    <% end %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= project_master.created_at %>
  </p>

</div>
