<div class="col-lg-4" style="height: 25%">
<div id="<%= dom_id project_master %>">
<% textcolor = ['text-info','text-success','text-danger','text-secondary','text-warning','text-primary']%>
 <% 
      bgcolor = 'bg-info'
      case project_master.phase
      when 'Not Started'
        bgcolor = 'bg-danger'
        when 'Started'
        bgcolor = 'bg-success'
      when 'On Going'
        bgcolor = 'bg-info'
      when 'On Hold'
        bgcolor = 'bg-warning'
      when 'Completed'
        bgcolor = 'bg-dark'
      when 'Maintenance'
        bgcolor = 'bg-primary'
      end

      %>
  <div class="card shadow p-3 mb-5 bg-white rounded ">
    <div class="card-body">

      <h5 class="card-title text-bold text-uppercase <%=textcolor.sample%>" ><%= project_master.name %></h5>

      <h6 class="card-subtitle mb-2 text-muted"> <span>Manager:</span> <%= User.with_deleted.find(project_master.user_id).username%></h6>

      <p class="card-text"> <%= project_master.description %></p>
  
      <p class="card-text"><small class="badge <%=bgcolor%> text-white"> <%= project_master.phase %> </small></p>

      <p class="card-text"><small class="text-muted"><%= project_master.created_at.to_date %></small></p>

     <p>
     <% if project_master.deleted_at.nil?%>
      <%= link_to "View project", project_master ,class: "btn btn-sm btn-outline-dark" %>
      <%= link_to "Add team member", members_path(project_master.id) ,class: "btn btn-sm btn-outline-dark" %>
      <%else%>
        <%=button_to "Restore",{ controller: :project_masters, action: :update,id: project_master.id },:action => 'update',method: :patch, data: { confirm: 'Are you sure?' },class: "float-left btn btn-sm btn-danger"  %> 
      <%end%>
      </p>
     </div>
  </div>
</div>
</div>
