<p style="color: green"><%= notice %></p>

<h1>Project </h1>
  <div id="project_masters">
  <% @project_masters.each do |project_master| %>
    <%= render project_master %>
    <p>
      <%= link_to "Show this project", project_master %>
      <%= link_to "Add team",dashboard_path %>
    </p>
  <% end %>
</div>



<%= link_to "New project", new_project_master_path %>
