
<%= render 'project_master_show' %>

<div>  

  <%= link_to "Edit this project ", edit_project_master_path(@project_master) ,class: "btn btn-outline-warning btn-sm" %> |
  <%= link_to "Back to project ", project_masters_path ,class: "btn btn-outline-success btn-sm" %> 

</div>
<%# <div class="row">
  <%= render "shared/show_member" %>
<%# </div> %> 
<hr>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Add New Task</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
        
      </div>
      <div class="modal-body">
      <%= render 'tasks/form' %>
      </div>
      
    </div>
  </div>
</div>




       

<hr>
<h3>Listing tasks</h3>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Assignedto</th>
    <th>Due date</th>
    <th>Completed date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_master.tasks.with_deleted.each do |task| %>
  <%if task.persisted?%>
  <tr>
    <td><%= task.name %></td>
     <% 
      bgcolor = 'bg-danger'
      case task.status
      when 'not-started'
        bgcolor = 'bg-danger'
      when 'in-Progress'
        bgcolor = 'bg-warning'
      when 'complete'
        bgcolor = 'bg-success'
      end

      %>
    <td><small class="badge <%=bgcolor%> text-white"><%= task.status %></small></td>
    <td><%= User.with_deleted.find(task.user_id).email %></td> 
    <td><%= task.due_date.to_date %></td>
    <% if !task.completed_date.nil? and task.status == 'complete' %>
    <%task.completed_date = task.updated_at%>
    <td><%= task.updated_at.to_date %></td>
    <%else%>
    <td>Not completed</td>

    <%end%>
    <td><%= link_to 'Show', [task.project_master, task],class: "btn btn-sm btn-outline-success" %></td>
    <% if task.deleted_at.nil? %>
    <td>Issues <%= link_to task.issues.count, project_master_task_issues_path(task.project_master, task) ,class: "btn btn-sm btn-danger"%></td>
    <td><%= link_to 'Edit', edit_project_master_task_path(task.project_master, task) ,class: "btn  btn-sm btn-outline-warning"%></td>
    <td><%= button_to 'Destroy', [task.project_master, task], method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-sm btn-outline-danger" %></td>
    <% else %>
      <td><%= link_to 'Edit', edit_project_master_task_path(task.project_master, task) ,class: "btn disabled btn-sm btn-secondary"%></td>
      <td><%=button_to 'Restore', project_master_task_path(task.project_master, task) ,method: :patch,class: "btn  btn-sm btn-danger"%></td>

   <% end %>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%# <%= link_to 'New Task', new_project_master_task_path(:project_master_id) %> 
