<div class="card  shadow p-3 mb-5 bg-white rounded" >
  <div class="text-uppercase text-bold text-center bg-white">
  <h3 style="color: #00758F">Sign In</h3>
  </div>
  <div class="card-body ">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group">
      <% f.label :email %><br />
      <%=f.email_field :email,
      class:"form-control border-0 border-bottom border-info",placeholder:"Email",
      autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field form-group">
      <% f.label :password %><br />
      <%= f.password_field :password, 
      class:"form-control border-0 border-bottom border-info",placeholder:"Password",
      autocomplete: "current-password" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field form-group form-check">
        <%= f.check_box :remember_me ,
        class:"form-check-input" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in",class:'btn btn-outline-info' %>
    </div>
  <% end %>
    <%= render "devise/shared/links" %>

  </div>
</div>





<br/>

